* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, body {
    height: 100%;
    margin: 0;
} */


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding-top: 54.5px;
    background-color: #E4D5B6 !important;
}


main.corpo__pagina-realizacoes {
    flex-grow: 1;
    padding-top: 70px;
    padding-bottom: 50px;
    box-sizing: border-box; 
    overflow-wrap: break-word;
    
}


.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex: 1;
    max-width: 100%;
    height: 100%;
}

.contato_index {
    text-align: center;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* .rodape {
    padding: 20px;
    background-color: #f9f9f9;
} */

.final {
    display: flex;
    gap: 10px;
    max-width: 900px;
}

form {
    flex: 1;
    width: 200px;
    height: 400px;
}

form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#formulario {
    max-width: 600px; /* Define uma largura máxima para centralizar o formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #f9f9f9;  */
    border-radius: 8px;
}

#formulario label, 
#formulario p {
    display: block;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
}

#formulario input[type="text"],
#formulario input[type="number"],
#formulario input[type="tel"],
#formulario input[type="email"],
#formulario input[type="radio"] + label,
#formulario textarea {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 0px;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}

#formulario input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 8px; /* Espaço entre o rádio e o label */
    vertical-align: middle;
    margin-top: 8px;
}

#formulario input[type="radio"] + label {
    display: inline; /* Mantém o label na mesma linha que o rádio */
    font-weight: normal; /* Para tornar o texto menos pesado ao lado do rádio */
    margin-right: 15px; /* Espaçamento entre as opções */
}

#formulario textarea {
    resize: vertical; /* Permite apenas redimensionamento vertical */
}

@media (max-width: 600px) {
    #formulario {
        padding: 10px;
    }
    
    #formulario label, 
    #formulario p {
        font-size: 14px;
    }
    
    #formulario input[type="text"],
    #formulario input[type="number"],
    #formulario input[type="tel"],
    #formulario input[type="email"],
    #formulario textarea {
        padding: 8px;
    }
}

.corpo__pagina-formulario{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4D5B6;
}

form textarea {
    resize: vertical;
}

form button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
    align-items: center;

}

form button:hover {
    background-color: #0056b3;
}


.cabecalho__menu {
    display: flex;
    align-items: center;
    background-color: #242424;
    opacity: 0.7;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px);
    top: 20px;
    left: 20px;
    border-radius: 15px;
    z-index: 100;
    padding-left: 400px;
}

.cabecalho__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
}

.cabecalho__menu li {
    margin: 0 15px;
}

.cabecalho__menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.cabecalho__menu a:hover {
    color: #AEAEAE;
}

.ajude_agora {
    margin-left: auto;
    margin-right: 20px;
    background-color: #D67400;
    opacity: 1;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}

.ajude_agora:hover {
    background-color: #FF8C00;
}

.corpo__pagina-principal {}


.conteudo__contato {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #E4D5B6;
    padding: 100px 20px 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    max-width: 400px;
    margin: 0 auto;
}

.foto_equipe {
    width: 400px;
    height: 400px;
}

.apresentacao__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.corpo__pagina-realizacoes {
    padding-top: 15px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4D5B6;
    
}





.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex-direction: column; 
    padding: 10px;
}

.julita:hover {
    transform: scale(1.05);
    opacity: 0.5;
}

.vila_abrigo:hover {
    transform: scale(1.05);
    opacity: 0.5;
}

.carlos_alberto:hover {
    transform: scale(1.05);
    opacity: 0.5;
}

.abcd:hover {
    transform: scale(1.05);
    opacity: 0.5;
}

.foto-container {
    position: relative; 
    text-align: center;
    padding: 10px;
    display: block;
    overflow: hidden;
}

.foto-container img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}


.apresentacao {
    position: relative;
    /* margin-top: 20px */
    min-height: 100vh;
    overflow: hidden;
}

.apresentacao #bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/front/src/assets/images/fotoequipe.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: scale-down;
    z-index: 0;
}

@media (max-width: 768px) {
    .apresentacao #bg {
        background-size: cover; /* Prioriza o preenchimento da tela */
        background-position: top center; /* Garante o foco no grupo */
    }
}

/* Abrir ainda mais em telas muito pequenas */
@media (max-width: 576px) {
    .apresentacao #bg {
        background-size: 185%; /* Continua preenchendo sem bordas */
        background-position: top;
    }
    .apresentacao{
        min-height: 57vh;
    }
}

.apresentacao img {
    width: 100%;
    height: auto;
}

.apresentacao__titulo,
#slogan__titulo {
    position: relative;
    color: #D67400;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1; /* Textos ficam na frente da imagem */
}

.apresentacao__titulo {
    font-size: 3rem;
    margin-top: 60px; /* Valor inicial */
    transition: margin-top 0.1s ease-out; /* Suaviza o movimento */
}

#slogan__titulo {
    font-size: 1.2rem;
    color: white;
    margin-top: 10px; /* Pequeno espaçamento entre o título e o slogan */
    transition: margin-top 0.1s ease-out;
}



#impacto{
    background-color: #f1d8a6;
    height: 100vh;
    padding: 0 clamp(4rem, 12vw, 20rem);
    display: grid;
    place-content: center;
}

section#impacto p{
    font-size: 48px;
    white-space: nowrap;
}


strong {
    color: #FF8C00;
}

.apresentacao__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

#texto_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding-left: 30%;
}

.tijolo_icon {
    max-width: 30%;
    height: auto;
    padding-left: 100px;
}

.saiba__mais {
    background-color: #23A7B8;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 400px;
    max-width: 600px;
    margin: 0 auto;
    transition: transform 0.3s;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    text-decoration: none; 
    color: #FFFFFF;
}

.saiba__mais:hover {
    transform: scale(1.1);
    background-color: #23A7B8;

}

.mais__conteudo {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;/
}

.mais__conteudo p {
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 300px;
    padding-top: 50px;
    font-size: 20px;
}

#fundo {
    background-color: #E4D5B6;
    height: 700px;
}

.rodape {
    background-color: #D7C5A2;
    padding: 20px;
    color: #333;
    width: 100%;
    font-size: 0.9em;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo de cada coluna */
    text-align: center; /* Centraliza o texto */
}

.footer-section p,
.footer-section a {
    margin: 5px 0;
    color: #333;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centraliza os ícones */
    margin-top: 10px;
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .footer-section {
        font-size: 0.85em;
        margin-bottom: 20px;
    }
}

.social-iconsAlinha {
    text-align: center; /* Centraliza o texto acima dos ícones */
}

.social-iconsAlinha .icons-container {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    gap: 10px; /* Espaçamento entre os ícones */
    margin-top: 10px;
}

/* Ajustes de responsividade */
@media (max-width: 576px) { /* Para telas pequenas */
    .social-iconsAlinha p {
        font-size: 0.9em; /* Diminui o tamanho da fonte para telas pequenas */
    }
    .social-iconsAlinha .icons-container {
        gap: 5px; /* Reduz o espaço entre ícones em telas pequenas */
    }
}

@media (max-width: 768px) { /* Para telas médias */
    .social-iconsAlinha {
        text-align: center;
    }
}

.email-info {
    display: inline-flex; /* Garante que o ícone e o texto fiquem na mesma linha */
    align-items: center; /* Alinha verticalmente o ícone e o texto */
    gap: 5px; /* Espaçamento entre o ícone e o texto */
    color: #333;
}

/* Estilo adicional opcional */
.email-info span {
    white-space: nowrap; /* Impede que o texto de email quebre em telas menores */
}

.rodape a {
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}

.rodape a:hover {
    text-decoration: underline;
}

.rodape p {
    font-weight: bold;
    margin: 0;
    color: #333;
}

.footer-informacoes,
.footer-servicos,
.footer-fale-conosco {
    display: flex;
    flex-direction: column;
}

.login_foto {
    width: 40px;
    height: 40px;
}

.titulo {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px 0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;

}

.titulo_outro {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px 0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;

}

.foto-container:hover .titulo {
    opacity: 1;
}

.foto-container:hover .titulo_outro {
    opacity: 1;
}

.julita,
.vila_abrigo,
.carlos_alberto,
.abcd {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 5%;
}

.corpo__pagina-noticias {
    padding-top: 200px;
}

.corpo__pagina-faq {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4D5B6;
}

.perguntas {
    margin-top: 40px;
}

.pergunta-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    background-color: #E5A000;
    margin-top: 10px;
}

.pergunta-container img {
    margin-right: 20px;
    max-width: 200px;
}

.pergunta-container h2 {
    margin: 0;
}

.pergunta-container .resposta-container {
    margin: 0;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
    width: 100%;
    border: 2px solid red;
}

.news-article {
    display: flex;
}

.row {
    /* display: flex; */
    flex-wrap: wrap;
    /* margin-bottom: 30px; */
}

.botao-canto {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 30%;
}

@media (max-width: 1200px) {
    .card-img-top {
        height: 180px;
    }
}

@media (max-width: 992px) {

    /* Tablet */
    .card-img-top {
        height: 160px;
    }
}

@media (max-width: 768px) {
    .card-img-top {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .card-img-top {
        height: 300px;
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar-nav .nav-link {
    color: white !important;
}

.login {
    background-color: #f9f9f9;
    border-radius: 15%;
}

.telefone_numero {
    font-size: 1.8em;
    text-align: center;
    padding-top: 10px;
    color: black;
}

.contact_info {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    padding: 10px;
    overflow: visible;
}

.dropdown-menu {
    left: auto !important;
    right: 0;
    margin: 5px 0;
    min-width: 200px;
}

.dropdown-toggle::after {
    display: none !important;
}

.form_div {
    max-width: 30%;
    max-height: 400px;
}

.oque_projeto,
.objetivos,
.certificacoes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
}

.como_surgiu,
.valores{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right; 
    padding-right: 3%;
    padding-left: 10px;
    padding-bottom: 3%;
}

.quem_atua {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left; 
    padding-left: 3%;
}

.como_surgiu img{
    max-width: 100%;
    height: 200px;
    width: 200px;
}

.quem_atua img{
    margin-left: auto;
}

.valores img{
    max-width: 100%;
    height: 200px;
    width: 200px;
}

.como_surgiu, .quem_atua, .valores p {
    margin-right: 10px; 
    font-size: 17px;
}

.como_surgiu b{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.quem_atua b{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.valores b{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.form-modal {
    flex: initial;
    width: auto;
    height: auto;

}

@media (min-width: 769px) and (max-width: 995px) {
    .ajude_agora {
        padding: 6px 10px;
        font-size: 12px;
        right: 10px;
        bottom: 15px;
        margin-left: 0;
        display: inline-block;
        max-width: 115px;
        margin-bottom: 10px
    }

    .login {
        padding: 8px;
        border-radius: 10%;
        display: inline-block;
        max-width: 45px;
        margin-top: 10px
    }
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 50px;
        height: auto;
    }

    .navbar-nav .nav-link {
        padding: 10px 5px;
        font-size: 14px;
        margin-right: 0;
    }

    .ajude_agora {
        padding: 6px 10px;
        font-size: 12px;
        right: 10px;
        bottom: 15px;
        margin-left: 0;
        display: inline-block;
        max-width: 115px;
        margin-bottom: 10px
    }

    .login_foto {
        width: 30px;
        height: auto;
        display: inline-block;
    }

    .login {
        padding: 8px;
        border-radius: 10%;
        display: inline-block;
        max-width: 45px;
        margin-top: 10px
    }
}

@media (max-width: 576px) {
    .navbar-nav .nav-link {
        padding: 8px 4px;
        font-size: 12px;
    }

    .ajude_agora {
        padding: 6px 10px;
        font-size: 12px;
        right: 10px;
        bottom: 15px;
        margin-left: 0;
        display: inline-block;
        max-width: 115px;
        margin-bottom: 10px
    }

    .login_foto,
    .navbar-brand img {
        width: 25px;
        height: auto;
        display: inline-block;
    }

    .login {
        padding: 8px;
        border-radius: 10%;
        display: inline-block;
        max-width: 45px;
        margin-top: 10px
    }
}

.conteudo_todo img{
    width: 30%;
    height: 30%;
    border-radius: 3%;
}
.conteudo_todo p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.conteudo_todo h1{
    font-family: 'Roboto', sans-serif;
}
.conteudo_todo h2{
    font-family: 'Roboto', sans-serif;
}
.conteudo_todo {
    background-color: #E4D5B6;
    
}


.social-icons a img {
    transition: transform 0.3s ease; 
}

.social-icons a:hover img {
    transform: scale(1.2); 
}

.contato_todo{
    background-color: #E4D5B6;
    height: 950px;
}
.fale_conosco{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.div_mapa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_mapa iframe{
    max-width: 28%;}

.telefone{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.social-icons a:last-child img {
    padding-top: 5px;
    width: 55px; 
    height: 55px; 
}

.botao_enviar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px; 
    margin-top: 10px; 
    cursor: pointer; 
}
.main_ajuda{
    height: 800px;
    background-color: #E4D5B6;
}


.container {
    /* display: flex; */
    /* height: 100vh;  */
    position: relative; 
}

#queroAjuda{
    display: flex;
    height: 100vh;  
}

.lado-esquerdo,
.lado-direito {
    padding-top: 5%;
    flex: 1; 
    display: flex;
    justify-content: center; 
    text-align: center;
}
.lado-direito img,
.lado-esquerdo img {
    max-width: 50%; 
    height: auto; 
    display: flex; 
    margin-left: 25%;
    margin-bottom: 30px;
}


.linha-divisoria {
    width: 1px; 
    background-color: #333; 
    height: 96%; 
}

.container h1 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 600px;
}

.corpo__pagina-area-de-doadores {
    height: 1000px;
    background-color: #E4D5B6;
}

.titulo__area-de-doadores,
.subtitulo__area-de-doadores,
.frase__area-de-doadores {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitulo__area-de-doadores {
    color: #E5A000;
}

.container-chave-pix,
.container-informacoes-conta,
.container-qrcode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    width: 10%;
    margin: 10px auto;
    background-color: #E5A000;
    margin-top: 10px;
    color: black;
}

.ajuda_pix{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.container-qrcode img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

.ajuda_pix .container-chave-pix,
.ajuda_pix .container-qrcode,
.ajuda_pix .container-informacoes-conta {
    border-radius: 5%;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.ajuda_pix h2 {
    text-align: center; 
}
.titulo__area-de-doadores{
    font-family: 'Roboto', sans-serif;
}
.subtitulo__area-de-doadores{
    font-family: 'Roboto', sans-serif;
}
.frase__area-de-doadores{
    font-family: 'Roboto', sans-serif;

}

.botao_ajuda {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #E5A000; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 16px; 
    transition: 0.3s; 
    justify-content: center;
    align-items: center;
    margin-left: 240px;
}

.botao_ajuda:hover {
    transform: scale(1.05);
    color: white;
}

.carrossel {
    max-width: 100%;
    margin-inline: auto;
    position: relative;
    height: 6.25rem;
    mask-image: linear-gradient(
        to right,
        rgb(#E4D5B6),
        rgb(#E4D6B7) 20%,
        rgb(#E4D6B8) 80%,
        rgb(#E4D6B9)
    );
    background-color: #E4D5B6;
    overflow: hidden;
}

.item {
    width: 12.5rem;
    height: 6.25rem;
    border-radius: 0.375rem;
    position: absolute;
    left: max(calc(1000px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scrollLeft {
    to {
        left: -12.5rem;
    }
}

.item1 { animation-delay: calc(100s / 33 * (33 - 1) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item2 { animation-delay: calc(100s / 33 * (33 - 2) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item3 { animation-delay: calc(100s / 33 * (33 - 3) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item4 { animation-delay: calc(100s / 33 * (33 - 4) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item5 { animation-delay: calc(100s / 33 * (33 - 5) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item6 { animation-delay: calc(100s / 33 * (33 - 6) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item7 { animation-delay: calc(100s / 33 * (33 - 7) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item8 { animation-delay: calc(100s / 33 * (33 - 8) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item9 { animation-delay: calc(100s / 33 * (33 - 9) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item10 { animation-delay: calc(100s / 33 * (33 - 10) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item11 { animation-delay: calc(100s / 33 * (33 - 11) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item12 { animation-delay: calc(100s / 33 * (33 - 12) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item13 { animation-delay: calc(100s / 33 * (33 - 13) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item14 { animation-delay: calc(100s / 33 * (33 - 14) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item15 { animation-delay: calc(100s / 33 * (33 - 15) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item16 { animation-delay: calc(100s / 33 * (33 - 16) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item17 { animation-delay: calc(100s / 33 * (33 - 17) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item18 { animation-delay: calc(100s / 33 * (33 - 18) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item19 { animation-delay: calc(100s / 33 * (33 - 19) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item20 { animation-delay: calc(100s / 33 * (33 - 20) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item21 { animation-delay: calc(100s / 33 * (33 - 21) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item22 { animation-delay: calc(100s / 33 * (33 - 22) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item23 { animation-delay: calc(100s / 33 * (33 - 23) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item24 { animation-delay: calc(100s / 33 * (33 - 24) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item25 { animation-delay: calc(100s / 33 * (33 - 25) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item26 { animation-delay: calc(100s / 33 * (33 - 26) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item27 { animation-delay: calc(100s / 33 * (33 - 27) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item28 { animation-delay: calc(100s / 33 * (33 - 28) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item29 { animation-delay: calc(100s / 33 * (33 - 29) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item30 { animation-delay: calc(100s / 33 * (33 - 30) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item31 { animation-delay: calc(100s / 33 * (33 - 31) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item32 { animation-delay: calc(100s / 33 * (33 - 32) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}
.item33 { animation-delay: calc(100s / 33 * (33 - 33) * -1); background-image: url(/front/src/assets/images/natural-one.png); mix-blend-mode: multiply;}

.item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s ease;
}

.politica{
    background-color: #E4D5B6;
    max-height: 1000px;
}
.titulo_politica{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1.titulo_politica {
    padding-top: 3%;
}
h2.titulo_politica {
    font-size: 20px;
}
.introduction{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding-left: 3%;
    gap: 10px;
}
.rodape_politica {
    background-color: #D7C5A2;
    text-align: center; /* Centraliza o texto no rodapé */
    padding: 10px; /* Adiciona espaço ao redor do texto */
}
.politica_corpo{
    flex: 1; /* Isso faz com que o main ocupe o espaço restante */
}
section#introduction p {
    line-height: 1.3; /* Ajuste esse valor para aumentar ou diminuir o espaçamento */
    margin-bottom: 10px; /* Espaçamento entre os parágrafos */
}
.cabecalho_politica{
    padding-bottom: 3%;
}

.politica p {
    font-size: 20px;
}
p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
.container-obj{
    display: flex;
}
.objetivos, .certificacoes {
    flex: 1; /* Assegura que ambas as divs ocupem o mesmo espaço */
    padding: 10px;
    border: 1px solid; /* Opcional, apenas para visualização */
}
.oque_projeto{
    padding-bottom: 3%;
}
.oque_projeto p {
    font-size: 18px; /* Ajuste o valor conforme desejado */
}

.corpo_evento {
    height: 600px;
    background-color: #E4D5B6;
}
.titulo_evento{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}
.foto_evento{
    display: flex;
    align-items: center;
    height: 250px;
    width: 500px;
    border-radius: 3%;
    margin-top: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
}
.quadrado_evento {
    display: flex;
    flex-direction: row;
    border-radius: 3%;
    background-color: #E5A000;
    height: 300px;
    max-width: 80%; /* Define a largura máxima da div */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 20px; /* Opcional: adiciona um pouco de espaço interno */
}
.quadrado_evento p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Garante que o texto fique centralizado */
}
.apresentacao_somos {
    position: relative;
    width: 100%;
    height: 100vh; /* A seção ocupa a altura total da janela */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Garante que o background preencha a seção corretamente */
}

#bg_somos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/front/src/assets/images/equipefoto2.jpg");
    background-size: cover; /* Garante que a imagem cubra todo o espaço */
    background-position: center;
    z-index: 0;
}

.conteudo {
    position: relative;
    z-index: 1;
    color: white;
    padding: 20px;
    text-align: center;
}
.titulo_somos{
    color: #D67400;
    font-family: 'Roboto', sans-serif;
}
.texto_somos{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 70%;
}